<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligg.mapper.VideoMapper">

    <select id="list" resultType="com.ligg.pojo.Video">
        select uv.*, u.nickname
        from user_video uv
                 join user u on uv.user_id = u.id
        order by uv.update_time
        limit 100
    </select>
    <!-- 根据id查询视频和用户信息 -->
    <select id="findById" resultType="com.ligg.pojo.Video">
        select uv.*,u.nickname,u.user_pic
        from user_video uv
        join user u on uv.user_id = u.id
        where uv.id = #{id}
    </select>
</mapper>